@use "../../sass/helpers" as *;

.logged-in__main {
  @include flex(start, start, row, 5rem);

  .left {
    flex: 1;
    padding: 3rem;

    .logo {
      // border: 0.2px solid green;
      margin-bottom: 4rem;
      width: 22rem;
    }

    blockquote {
      max-width: 80%;
    }

    .controller {
      max-width: 233px;
      margin-left: auto;
      margin-top: -50px;
      margin-right: 5rem;
    }
  }

  .right {
    flex: 1;
    padding-bottom: 2rem;

    .content {
      padding-top: 3rem;
      max-width: 27rem;

      .title {
        text-align: center;

        h1 {
          margin-bottom: 0.875rem;
          font-size: 2.625rem;
          font-weight: 700;
        }
      }
    }

    p {
      text-align: center;
      // margin-top: 1rem;

      span {
        color: $color;
      }
    }

    button {
      margin-block: 1rem;
    }
  }
}

.field {
  margin-bottom: 1.5rem;
}
