@use "../../sass/helpers" as *;

.movies {
  h2 {
    text-transform: uppercase;
    // margin-bottom: 1rem;
  }

  .movie-cards {
    @include flex(start, center, row, 2rem);

    .movie {
      max-width: 22rem;
      border-radius: 60px;
      position: relative;
      overflow: hidden;
      // border: 2px solid green;

      .character {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
      }

      .logo {
        position: absolute;
        // border: 0.2px solid magenta;
        right: 0;
        top: 0;
      }
    }
  }
}
